@import "tailwindcss";
/* 0️⃣ Tailwind */


/* 1️⃣ Inter Variable Font */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* 2️⃣ CSS Variables (Design Tokens) */
:root {
  --font-primary: "Inter"; 


  --color-text: #2D3135;
  --color-bg: #F3F3F3

  --font-heading: 28px;      /* H1/H2 */
  --font-subheading: 24px;   /* H3/H4 or subtitles */
  --font-body: 18px;         /* Paragraphs */
  --font-button: 16px;       /* Buttons */
  
}

/* 3️⃣ CSS Reset (Optional, Tailwind already has Preflight) */
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 4️⃣ Base styles */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
  /* font-weight: 400; */
}


